.main{
    background-color: aqua;
    width: 500px;
    margin: auto;
    border: 5px solid red;
margin-top: 50px;
    height: 300px;
    padding: 20px;
    overflow: scroll;
    inline-size: 150px;
    box-shadow: -10px 0px 10px 10px;
    text-shadow: 0px 0px 25px red;
    border-radius: 20px;
} 
/* ul>li{
    background-color: royalblue;
display: inline-block;
word-spacing: 200px;
margin: auto;
width: 400px;

}
.ul{
width: 100%;
background-color: red;
word-spacing: 300px;
background-size: 20px;
background-color: unset;

} */
 

 a{
color: black;
text-decoration: none;
    width: 80px;
    /* background-color: red; */
    padding-left: 500px

    
    
 }
 #ggg{
    visibility: hidden;
 }